VITE_BACKEND_DOMAIN=http://localhost:9000
VITE_IAM_FRONTEND_URL=https://example.com/iam
VITE_IAM_CLIENT_ID=demo-client-id
VITE_MAINTENANCE_MODE=false
VITE_WECHAT_APP_ID=demo-wechat-app-id
VITE_QQ_APP_ID=demo-qq-app-id
VITE_QQ_STATE=demo-state
